<a href="https://colab.research.google.com/github/amindazad/DS-Unit-2-Linear-Models/blob/master/DS-Unit-2-Linear-Models/module4-logistic-regression/Amin_Azad_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [X] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [X] Begin with baselines for classification.
- [X] Use scikit-learn for logistic regression.
- [X] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [X] Get your model's test accuracy. (One time, at the end.)
- [X] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [0]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [0]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [0]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [0]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [0]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [137]:
# Scanning the dataset ...
df

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
0    California  1/18/2016   3.5     4.2  ...     NaN   NaN       NaN  False
1    California  1/24/2016   3.5     3.3  ...     NaN   NaN       NaN  False
2      Carnitas  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
3         Asada  1/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False
4    California  1/27/2016   4.0     3.8  ...     NaN   NaN       NaN   True
..          ...        ...   ...     ...  ...     ...   ...       ...    ...
418       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
419       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
420  California  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
421       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
422       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True

[421 rows x 59 columns]

In [138]:
# Checking data types 
df.dtypes

Burrito            object
Date               object
Yelp              float64
Google            float64
Chips              object
Cost              float64
Hunger            float64
Mass (g)          float64
Density (g/mL)    float64
Length            float64
Circum            float64
Volume            float64
Tortilla          float64
Temp              float64
Meat              float64
Fillings          float64
Meat:filling      float64
Uniformity        float64
Salsa             float64
Synergy           float64
Wrap              float64
Unreliable         object
NonSD              object
Beef               object
Pico               object
Guac               object
Cheese             object
Fries              object
Sour cream         object
Pork               object
Chicken            object
Shrimp             object
Fish               object
Rice               object
Beans              object
Lettuce            object
Tomato             object
Bell peper         object
Carrots            object
Cabbage            object
Sauce              object
Salsa.1            object
Cilantro           object
Onion              object
Taquito            object
Pineapple          object
Ham                object
Chile relleno      object
Nopales            object
Lobster            object
Queso             float64
Egg                object
Mushroom           object
Bacon              object
Sushi              object
Avocado            object
Corn               object
Zucchini           object
Great                bool
dtype: object

In [139]:
# Convert the date column to pandas date data format 
import pandas as pd

df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
df['Date']

0     2016-01-18
1     2016-01-24
2     2016-01-24
3     2016-01-24
4     2016-01-27
         ...
418   2019-08-27
419   2019-08-27
420   2019-08-27
421   2019-08-27
422   2019-08-27
Name: Date, Length: 421, dtype: datetime64[ns]

In [140]:
# train/validate/test split, Train = 2016 & earlier. Validate = 2017. Test = 2018 & later.
train = df[(df['Date']>='2016-01-01')&(df['Date']<'2017-01-01')]
val = df[(df['Date']>='2017-01-01')&(df['Date']<'2018-01-01')]
test = df[df['Date']>='2018-01-01']

train.shape, val.shape ,test.shape

((296, 59), (85, 59), (38, 59))

In [141]:
# Calculate baseline for classification
# Lets start with defining a target
target = 'Great'
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.591216
True     0.408784
Name: Great, dtype: float64

In [142]:
from sklearn.metrics import accuracy_score

#Define the baseline by assuming if we guessed how many times would have been right?
majority_class=y_train.mode()[0]
y_pred=[majority_class]*len(y_train)
#Calculate the accuracy score 
accuracy_score(y_train, y_pred)

0.5912162162162162

In [143]:
df.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California 2016-01-27   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

In [144]:
#OneHotCoding the features 

#checking the non numeric values and sort them by cordinality 

print(train.shape)
train.describe(exclude='number').T.sort_values(by='unique')

(296, 59)

              count unique                  top freq      first       last
Chile relleno     4      1                    x    4        NaT        NaT
Ham               1      1                    x    1        NaT        NaT
Zucchini          1      1                    x    1        NaT        NaT
Nopales           4      1                    x    4        NaT        NaT
Lobster           1      1                    x    1        NaT        NaT
Egg               4      1                    x    4        NaT        NaT
Carrots           1      1                    x    1        NaT        NaT
Bacon             3      1                    x    3        NaT        NaT
Sushi             2      1                    x    2        NaT        NaT
Unreliable       25      1                    x   25        NaT        NaT
Avocado          13      1                    x   13        NaT        NaT
Mushroom          3      1                    x    3        NaT        NaT
Corn              2      2                    x    1        NaT        NaT
Pineapple         7      2                    x    5        NaT        NaT
Taquito           4      2                    x    3        NaT        NaT
Onion            17      2                    x    9        NaT        NaT
Cilantro         15      2                    x    9        NaT        NaT
Salsa.1           6      2                    x    5        NaT        NaT
Sauce            37      2                    x   33        NaT        NaT
Cabbage           7      2                    x    5        NaT        NaT
Bell peper        7      2                    x    4        NaT        NaT
Great           296      2                False  175        NaT        NaT
Lettuce          10      2                    x    8        NaT        NaT
Chips            22      2                    x   19        NaT        NaT
NonSD             5      2                    x    3        NaT        NaT
Beef            167      2                    x  129        NaT        NaT
Pico            142      2                    x  114        NaT        NaT
Guac            138      2                    x  100        NaT        NaT
Cheese          149      2                    x  121        NaT        NaT
Tomato            7      2                    x    5        NaT        NaT
Fries           119      2                    x   97        NaT        NaT
Pork             43      2                    x   29        NaT        NaT
Chicken          20      2                    x   19        NaT        NaT
Shrimp           20      2                    x   17        NaT        NaT
Fish              5      2                    x    3        NaT        NaT
Rice             33      2                    x   24        NaT        NaT
Beans            32      2                    x   24        NaT        NaT
Sour cream       84      2                    x   62        NaT        NaT
Burrito         296      5           California  118        NaT        NaT
Date            296    108  2016-08-30 00:00:00   29 2016-01-18 2016-12-15

In [145]:
import category_encoders as ce 
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train)
X_train_encoded

     Yelp  Google  Cost  ...  Burrito_Asada  Burrito_Other  Burrito_Surf & Turf
0     3.5     4.2  6.49  ...              0              0                    0
1     3.5     3.3  5.45  ...              0              0                    0
2     NaN     NaN  4.85  ...              0              0                    0
3     NaN     NaN  5.25  ...              1              0                    0
4     4.0     3.8  6.59  ...              0              0                    0
..    ...     ...   ...  ...            ...            ...                  ...
296   4.0     4.3  5.65  ...              0              0                    0
297   NaN     NaN  5.49  ...              0              1                    0
298   3.5     3.7  7.75  ...              0              0                    0
299   NaN     NaN  7.75  ...              1              0                    0
300   4.5     4.6  6.99  ...              0              1                    0

[296 rows x 13 columns]

In [147]:
#Logistic regression 

import category_encoders as ce 
encoder = ce.OneHotEncoder(use_cat_names=True)

# Select features and get rid of Nan values 

features = ['Yelp', 'Google','Cost','Hunger', 'Tortilla', 'Temp', 'Meat', 'Wrap', 'Burrito']

#Estimator API 5 steps
#1. Import estimator class 
from sklearn.linear_model import LogisticRegression

#2. Instantiate the model
log_reg = LogisticRegression(solver='lbfgs')

#3. Arrange X feature matrices and y vectors and clean Nans meanwhile
from sklearn.impute import SimpleImputer
X_train = train[features]
X_train_encoded = encoder.fit_transform(X_train)
X_train_imputed = imputer.fit_transform(X_train_encoded)

y_train = train[target]

X_val = val[features]
X_val_encoded = encoder.transform(X_val)
X_val_imputed = imputer.transform(X_val_encoded)

y_val = val[target]


#4.Fit the model 
log_reg.fit(X_train_imputed, y_train)

#5. Apply the model to new data 
log_reg.predict(X_val_imputed)

log_reg.score(X_val_imputed, y_val)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7411764705882353

In [148]:
#Get the test accuracy 
X_test = test[features]
X_test_encoded = encoder.transform(X_test)
X_test_imputed = imputer.transform(X_test_encoded)
y_pred = log_reg.predict(X_test_imputed)
y_test = test[target]

log_reg.score(X_test_imputed, y_test)

0.7631578947368421